/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  width: 1200px;
  margin: 0 auto;
}

.spinnerVisible {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}

